body{
    width: 100%;
    height: 722px;
}
.main{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.main>h3{
    position: absolute;
    left: 600px;
    top: 240px;
    font-size: 40px;
    font-weight: bold;
    font-family: "楷体";
    color: #f00;
    animation: sport 2s linear 0s infinite normal;
}
.main>#mydiv{
    text-align: center;
}
@keyframes sport{
    0%{
        color: #f00;
    }
    50%{
        color: transparent;
    }
    100%{
        color: #f00;
    }
}

